package {{ .PackageName }}

import("github.com/genellern/hela/cmd/migrator")

func Run() migrator.MigrationInterface {
    var migration migrator.MigrationOptions

    migration.Table = "{{ .Table() }}"
    migration.PackageName = "{{ .PackageName }}"

    {{ range .Fields }}
    migration.Fields = append("{{ . }}", migration.fields)
    {{ end }}

    return migration
}