package {{ .PackageName }}

import("github.com/genellern/hela/cmd/migrator")

func  (m *Migration) Migration_{{ .Name }}() migrator.Migration {
    var migration migrator.Migration

    migration.Version = {{ .Version }}
    migration.Table = "{{ .Table }}"
    migration.Name = "{{ .Name }}"
    migration.Action = "{{ .Action }}"
    migration.PackageName = "{{ .PackageName }}"

{{ range .Fields }}
    migration.Fields = append(migration.Fields, "{{ . }}")
{{ end }}

    return migration
}